<template>
<v-container>
  <v-card>
    <v-card-title>
        {{ headerTitle }}
    </v-card-title>
    <v-card-text>
      <slot name="body">
          {{ defaultBodyContent }}
      </slot>
    </v-card-text>
    <v-card-actions class="justify-end mr-2 pb-4">
      <v-btn
          color="warning"
          rounded
          small
          @click="$emit('hide')"
      >
          {{ footerHideTitle }}
      </v-btn>
      <template v-if="footerSubmit">
          <v-btn
              color="secondary"
              rounded
              dark
              small
              @click="$emit('submit')"
          >
              {{ footerSubmitTitle }}
          </v-btn>
      </template>
    </v-card-actions>
  </v-card>
</v-container>
</template>

<script>
export default {
  name: 'basicDialog',
  props: {
    footerSubmit: {
      type: Boolean,
      default: true
    },
    headerTitle: {
      type: String,
      default: 'title'
    },
    footerSubmitTitle: {
      type: String,
      default: 'dd'
    },
    defaultBodyContent: {
      type: String,
      default: ''
    },
    footerHideTitle: {
      type: String,
      default: 'cancfffel'
    }
  }
}
</script>
