<template>
  <v-container>
    <v-main class="pt-0">
      <v-img class="mx-auto" max-height="512px" max-width="512px" src="android_asset/www/img/math-mukbang.png" />
      <v-img class="mx-auto" max-height="512px" max-width="512px" src="@/assets/math-mukbang.png" />
      <v-card
        flat
        class="mx-auto"
        max-width="500"
      >
        <v-list color="secondary" dark>
          <v-list-group
            v-for="item in this.aMenuItems"
            :key="item.title"
            v-model="item.active"
            :prepend-icon="item.icon"
            active-class="#6dd1c0--text"
            no-action
          >
            <template v-slot:activator>
              <v-list-item-content>
                <v-list-item-title v-text="item.title"></v-list-item-title>
              </v-list-item-content>
            </template>

            <v-list-item
              class="pl-10"
              v-for="child in item.exam"
              :key="child.id"
              active-class="#6dd1c0--text"
              @click="fnMoveToPage(child)"
            >
              <v-list-item-action>
                <v-icon>{{child.icon}}</v-icon>
              </v-list-item-action>
              <v-list-item-content>
                <v-list-item-title v-text="child.code"></v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list-group>
        </v-list>
      </v-card>
    </v-main>
  </v-container>
</template>

<script>
import oExamData from '@/data/exam-data'

export default {
  data () {
    return {
      bDrawer: false,
      aMenuItems: oExamData.aExams,
      sCurrentUrl: document.location.pathname
    }
  },
  methods: {
    fnMoveToPage (exam) {
      if (exam.id.includes('record')) {
        this.$router.push({
          name: 'record'
        }).then(() => {
          this.sCurrentUrl = document.location.pathname
        })
      } else if (exam.id.includes('rank')) {
        this.$router.push({
          name: 'rank'
        }).then(() => {
          this.sCurrentUrl = document.location.pathname
        })
      } else {
        this.$router.push({
          name: 'questions',
          params: {
            id: exam.id
          }
        }).then(() => {
          this.sCurrentUrl = document.location.pathname
        })
      }
    }
  }
}
</script>
