<template>
  <v-container>
    <v-card color="error" dark>
      <h1 class="text-center">{{sMark}}</h1>
      <v-list color="success" light>
        <v-list-item
          v-for="(question, index) in questions"
          :key="question.index">
          <v-list-item-content>
            <v-row>
              <v-col cols="2">
                {{index + 1}}.
              </v-col>
              <v-col cols="5">
                {{question.firstNum}} {{ question.operator }} {{question.secondNum}} = {{question.submitNum}}
              </v-col>
              <v-spacer/>
              <v-col cols="1" v-if="question.mark == false">
                X
              </v-col>
              <v-col cols="1" v-else>
                O
              </v-col>
              <v-spacer/>
              <v-col cols="3">
                {{question.spentTime}} {{sSecond}}
              </v-col>
            </v-row>
          </v-list-item-content>
        </v-list-item>
        <v-list-item>
          <v-row>
            <v-col col="6">
            </v-col>
            <v-spacer/>
            <v-col cols="3" class="mx-auto">
              {{markPoint}}/10
            </v-col>
            <v-col cols="3" class="ma-auto">
              {{timer}} {{sSecond}}
            </v-col>
          </v-row>
        </v-list-item>
      </v-list>
    </v-card>
    <br/>
    <v-row>
    <v-btn class="mx-auto" @click="fnReplay">
      <v-icon color="primary">
        mdi-replay
      </v-icon>
    </v-btn>
    </v-row>
    <v-dialog
      max-width="500"
      v-model="bBasicDialog"
      >
      <basicDialog
        :header-title="sCompliment"
        :footer-hide-title="sCancel"
        :footer-submit-title="sSave"
        @hide="fnHideDialog"
        @submit="fnSubmitDialog"
        >
          <template v-slot:body>
           <v-text-field v-model="nickName" filled
            />
            {{sAdviceNickName}}
          </template>
      </basicDialog>
    </v-dialog>
    <v-snackbar v-model="snackbar">
      {{ sNotice }}
      <template v-slot:action="{ attrs }">
        <v-btn
          color="red"
          text
          v-bind="attrs"
          @click="snackbar = false"
        >{{sClose}}
        </v-btn>
      </template>
    </v-snackbar>
  </v-container>
</template>

<script>
import basicDialog from '@/components/basicdialog'
import { oFirestore } from '@/datasources/firebase'
import { showInterstitial } from '../adMob'

export default {
  data () {
    return {
      sMark: this.$t('mark'),
      sSecond: this.$t('second'),
      sCompliment: this.$t('compliment'),
      sAdviceNickName: this.$t('adviceNickName'),
      sCancel: this.$t('cancel'),
      sSave: this.$t('save'),
      sErrorAlarm: this.$t('errorAlarm'),
      sValidNickName: this.$t('validNickName'),
      sFinishingRanking: this.$t('finishingRanking'),
      sClose: this.$t('close'),
      nickName: '',
      questions: null,
      timer: '',
      markPoint: 0,
      bBasicDialog: false,
      snackbar: false,
      sNotice: ''
    }
  },
  created () {
    this.questions = this.$route.params.questions
    this.timer = this.$route.params.timer
    this.fnGetMarkPoint()
    showInterstitial()
  },
  components: {
    basicDialog
  },
  methods: {
    async fnGetMarkPoint () {
      this.questions.forEach((question) => {
        if (question.mark === true) {
          this.markPoint++
        }
      })

      if (this.markPoint === 10) {
        this.$store.commit('fnSetRecord', { timer: this.timer, config: this.$route.params.id })

        const rankList = await this.fnGetRankList()

        if (rankList.length === 0 || rankList.length < 10) {
          this.fnShowDialog()
          return
        }

        const leastTimeRecord = rankList.pop().time

        if (this.timer < leastTimeRecord) {
          this.fnShowDialog()
        }
      }
    },
    fnShowDialog () {
      this.bBasicDialog = true
    },
    fnHideDialog () {
      this.bBasicDialog = false
    },
    fnSubmitDialog () {
      const nickName = this.nickName.trim()

      if (nickName.length > 6) {
        this.sNotice = this.$t('validNickName')
        this.snackbar = true
        return
      }

      this.bBasicDialog = false
      const date = new Date()
      const playDate = date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDate()
      oFirestore
        .collection(this.$route.params.id).add({
          nickName: nickName,
          time: this.timer,
          date: playDate
        }).then((docRef) => {
          this.sNotice = this.$t('finishingRanking')
          this.snackbar = true
        })
        .catch((error) => {
          console.error('Error adding document: ', error)
        })
    },
    fnGetRankList () {
      return new Promise((resolve, reject) => {
        const refRank = oFirestore
          .collection(this.$route.params.id)
          .orderBy('time').limit(10)

        refRank.get().then((querySnapshot) => {
          const items = []
          if (querySnapshot.size > 1) {
            querySnapshot.forEach((doc) => {
              items.push(doc.data())
            })
            resolve(items)
          } else if (querySnapshot.size === 1) {
            querySnapshot.forEach((doc) => {
              items.push(doc.data())
            })
            resolve(items)
          } else {
            resolve(items)
          }
        }).catch((error) => {
          this.sNotice = this.$t('errorAlarm')
          this.snackbar = true
          console.log(error)
        })
      })
    },
    fnReplay () {
      this.$router.push({
        name: 'questions',
        params: {
          id: this.$route.params.id
        }
      }).then(() => {
        this.sCurrentUrl = document.location.pathname
      })
    }
  }
}
</script>
