<template>
  <v-container class="pt-0">
    <br/>
    <v-row class="mx-auto headline secondary--text">
      <v-col cols="7" class="pt-0">
        {{timer}} {{sSecond}}
      </v-col>
      <v-spacer class="pt-0"/>
      <v-col cols="3" class="pt-0">
        {{currentRound}}/{{quantity}}
      </v-col>
    </v-row>
    <v-row >
      <v-col col="11" class="pt-0">
        <v-card class="mx-auto my-0 text-center display-1 secondary--text" outlined color="success" dark>
          {{questions[currentRound].firstNum}} {{questions[currentRound].operator}} {{questions[currentRound].secondNum}} = {{questions[currentRound].submitNum}}
        </v-card>
      </v-col>
    </v-row>
    <v-row class="mx-auto display-1 text-center">
      <v-col cols="4" class="">
        <v-card outlined class="py-3 error--text" @click="fnPutNum(7)" color="success" dark >
          7
        </v-card>
      </v-col>
      <v-col cols="4">
        <v-card outlined class="py-3 info--text" @click="fnPutNum(8)" color="success" dark>
          8
        </v-card>
      </v-col>
      <v-col cols="4">
        <v-card outlined class="py-3 warning--text" @click="fnPutNum(9)" color="success" dark>
          9
        </v-card>
      </v-col>
    </v-row>
    <v-row class="mx-auto display-1 text-center">
      <v-col cols="4">
        <v-card outlined class="py-3 green--text" @click="fnPutNum(4)" color="success" dark>
          4
        </v-card>
      </v-col>
      <v-col cols="4">
        <v-card outlined class="py-3 pink--text" @click="fnPutNum(5)" color="success" dark>
          5
        </v-card>
      </v-col>
      <v-col cols="4">
        <v-card outlined class="py-3 purple--text" @click="fnPutNum(6)" color="success" dark>
          6
        </v-card>
      </v-col>
    </v-row>
    <v-row class="mx-auto display-1 text-center">
      <v-col cols="4">
        <v-card outlined class="py-3 orange--text" @click="fnPutNum(1)" color="success" dark>
          1
        </v-card>
      </v-col>
      <v-col cols="4">
        <v-card outlined class="py-3 brown--text" @click="fnPutNum(2)" color="success" dark>
          2
        </v-card>
      </v-col>
      <v-col cols="4">
        <v-card outlined class="py-3 blue--text" @click="fnPutNum(3)" color="success" dark>
          3
        </v-card>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="4" class="mx-auto text-center">
        <v-card outlined class="py-5 secondary--text" @click="fnPutNum('del')" color="success" dark>
          {{sClear}}
        </v-card>
      </v-col>
      <v-col cols="4" class="mx-auto display-1 text-center">
        <v-card outlined class="py-3 red--text" @click="fnPutNum(0)" color="success" dark>
          0
        </v-card>
      </v-col>
      <v-col cols="4" class="mx-auto text-center">
        <v-card outlined class="py-5 secondary--text" @click="fnPutNum('submit')" color="success" dark>
          {{sSubmit}}
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data () {
    return {
      sSecond: this.$t('second'),
      sClear: this.$t('clear'),
      sSubmit: this.$t('submit'),
      questions: [],
      quantity: 10,
      timer: 0,
      startTime: 0,
      currentRound: 0,
      interval: null
    }
  },
  created () {
    this.fnMakingQuetions(this.$route.params.id)
    this.interval = setInterval(() => {
      this.timer = this.timer + 1
    }, 1000)
  },
  beforeRouteUpdate (to, from, next) {
    clearInterval(this.interval)
    this.questions = []
    this.timer = 0
    this.startTime = 0
    this.currentRound = 0

    this.fnMakingQuetions(to.params.id)
    this.interval = setInterval(() => {
      this.timer = this.timer + 1
    }, 1000)
    next()
  },
  methods: {
    fnMakingQuetions (config) {
      const arrConf = config.split('-')
      const operator = arrConf[0]
      const difficulty = arrConf[1]

      this.fnMakingFomula(operator, difficulty, this.quantity)
    },
    fnMakingFomula (operator, difficulty, quantity) {
      while (true) {
        let question = {
          firstNum: 0,
          secondNum: 0,
          operator: '',
          correctNum: 0,
          submitNum: '?',
          spentTime: 0,
          mark: false
        }

        if (operator === 'addition') {
          if (difficulty === 'easy') {
            question.firstNum = this.fnMakingNumber(1)
            question.secondNum = this.fnMakingNumber(1)
            question.operator = this.fnOperatorTransper(operator)
            question.correctNum = this.fnOperating(question.firstNum,
              question.secondNum, question.operator)
          } else if (difficulty === 'medium') {
            question.firstNum = this.fnMakingNumber(2)
            question.secondNum = this.fnMakingNumber(2)
            question.operator = this.fnOperatorTransper(operator)
            question.correctNum = this.fnOperating(question.firstNum,
              question.secondNum, question.operator)
          } else if (difficulty === 'hard') {
            question.firstNum = this.fnMakingNumber(3)
            question.secondNum = this.fnMakingNumber(3)
            question.operator = this.fnOperatorTransper(operator)
            question.correctNum = this.fnOperating(question.firstNum,
              question.secondNum, question.operator)
          } else {
            console.log('No difficulty supported')
          }
        } else if (operator === 'subtraction') {
          if (difficulty === 'easy') {
            question.firstNum = this.fnMakingNumber(1)
            question.secondNum = this.fnMakingNumber(1)
            if (question.firstNum < question.secondNum) {
              let swap = question.firstNum
              question.firstNum = question.secondNum
              question.secondNum = swap
              swap = null
            }
            question.operator = this.fnOperatorTransper(operator)
            question.correctNum = this.fnOperating(question.firstNum,
              question.secondNum, question.operator)
          } else if (difficulty === 'medium') {
            question.firstNum = this.fnMakingNumber(2)
            question.secondNum = this.fnMakingNumber(2)
            if (question.firstNum < question.secondNum) {
              let swap = question.firstNum
              question.firstNum = question.secondNum
              question.secondNum = swap
              swap = null
            }
            question.operator = this.fnOperatorTransper(operator)
            question.correctNum = this.fnOperating(question.firstNum,
              question.secondNum, question.operator)
          } else if (difficulty === 'hard') {
            question.firstNum = this.fnMakingNumber(3)
            question.secondNum = this.fnMakingNumber(3)
            if (question.firstNum < question.secondNum) {
              let swap = question.firstNum
              question.firstNum = question.secondNum
              question.secondNum = swap
              swap = null
            }
            question.operator = this.fnOperatorTransper(operator)
            question.correctNum = this.fnOperating(question.firstNum,
              question.secondNum, question.operator)
          } else {
            console.log('No difficulty supported')
          }
        } else if (operator === 'multiplication') {
          if (difficulty === 'easy') {
            question.firstNum = this.fnMakingNumber(1)
            question.secondNum = this.fnMakingNumber(1)
            question.operator = this.fnOperatorTransper(operator)
            question.correctNum = this.fnOperating(question.firstNum,
              question.secondNum, question.operator)
          } else if (difficulty === 'medium') {
            question.firstNum = this.fnMakingNumber(2)
            question.secondNum = this.fnMakingNumber(1)
            question.operator = this.fnOperatorTransper(operator)
            question.correctNum = this.fnOperating(question.firstNum,
              question.secondNum, question.operator)
          } else if (difficulty === 'hard') {
            question.firstNum = this.fnMakingNumber(2)
            question.secondNum = this.fnMakingNumber(2)
            question.operator = this.fnOperatorTransper(operator)
            question.correctNum = this.fnOperating(question.firstNum,
              question.secondNum, question.operator)
          } else {
            console.log('No difficulty supported')
          }
        } else if (operator === 'division') {
          if (difficulty === 'easy') {
            question.firstNum = this.fnMakingNumberForDivisionFirstNum(2)
            question.secondNum = this.fnMakingNumberForDivisionSecondNum(question.firstNum, difficulty)
            question.operator = this.fnOperatorTransper(operator)
            question.correctNum = this.fnOperating(question.firstNum,
              question.secondNum, question.operator)
          } else if (difficulty === 'medium') {
            question.firstNum = this.fnMakingNumberForDivisionFirstNum(3)
            question.secondNum = this.fnMakingNumberForDivisionSecondNum(question.firstNum, difficulty)
            question.operator = this.fnOperatorTransper(operator)
            question.correctNum = this.fnOperating(question.firstNum,
              question.secondNum, question.operator)
          } else if (difficulty === 'hard') {
            question.firstNum = this.fnMakingNumberForDivisionFirstNum(3)
            question.secondNum = this.fnMakingNumberForDivisionSecondNum(question.firstNum, difficulty)
            question.operator = this.fnOperatorTransper(operator)
            question.correctNum = this.fnOperating(question.firstNum,
              question.secondNum, question.operator)
          } else {
            console.log('No difficulty supported')
          }
        } else {
          console.log('No operator supported')
        }

        if (!this.fnIsDuplicated(question)) {
          this.questions.push(question)
        }
        if (this.questions.length === 10) {
          break
        }
        question = {}
      }
    },
    fnIsDuplicated (question) {
      this.questions.forEach((quest) => {
        if (quest.firstNum === question.firstNum &&
          quest.secondNum === question.secondNum &&
          quest.operator === question.operator) {
          return true
        }
      })
      return false
    },
    fnMakingNumber (digits) {
      let number = 0

      while (number === 0) {
        if (digits === 1) {
          number = Math.floor(Math.random() * 10)
        } else if (digits === 2) {
          number = Math.floor(Math.random() * 100)
        } else if (digits === 3) {
          number = Math.floor(Math.random() * 1000)
        }
      }
      return number
    },
    fnMakingNumberForDivisionFirstNum (digits) {
      const primeNum = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997]

      primeNum.push(0)
      primeNum.push(1)

      let number = 0

      while (primeNum.includes(number)) {
        if (digits === 1) {
          number = Math.floor(Math.random() * 10)
        } else if (digits === 2) {
          number = Math.floor(Math.random() * 100)
        } else if (digits === 3) {
          number = Math.floor(Math.random() * 1000)
        }
      }
      return number
    },
    fnMakingNumberForDivisionSecondNum (firstNum, difficulty) {
      const candidateList = []

      for (let i = 0; i < firstNum; i++) {
        if (firstNum % i === 0 && i !== 1) {
          candidateList.push(i)
        }
      }

      if (difficulty === 'easy' || difficulty === 'medium') {
        return candidateList[Math.floor(Math.random() * candidateList.length / 2)]
      }

      return candidateList[Math.floor(Math.random() * candidateList.length)]
    },
    fnOperatorTransper (operator) {
      if (operator === 'addition') {
        return '+'
      } else if (operator === 'subtraction') {
        return '-'
      } else if (operator === 'multiplication') {
        return '×'
      } else if (operator === 'division') {
        return '÷'
      } else {
        console.log('Error in fnOperatorTransper function')
      }
    },
    fnOperating (firstNum, secondNum, operator) {
      if (operator === '+') {
        return firstNum + secondNum
      } else if (operator === '-') {
        return firstNum - secondNum
      } else if (operator === '×') {
        return firstNum * secondNum
      } else if (operator === '÷') {
        return firstNum / secondNum
      } else {
        console.log('Error in fnOperating function')
      }
    },
    fnPutNum (sign) {
      if (sign === 'del') {
        this.questions[this.currentRound].submitNum = '?'
      } else if (sign === 'submit') {
        this.questions[this.currentRound].spentTime = this.timer - this.startTime
        this.questions[this.currentRound].mark =
          this.questions[this.currentRound].submitNum * 1 ===
          this.questions[this.currentRound].correctNum

        if (this.currentRound === 9) {
          this.fnMoveToMarks(this.questions, this.timer)
        } else {
          this.currentRound++
          this.startTime = this.timer
        }
      } else {
        if (this.questions[this.currentRound].submitNum === '?') {
          this.questions[this.currentRound].submitNum = sign
        } else {
          this.questions[this.currentRound].submitNum =
          this.questions[this.currentRound].submitNum + '' + sign + ''
        }
      }
    },
    fnShowResult () {

    },
    fnMoveToMarks (questions, timer) {
      this.$router.push({
        name: 'marks',
        params: {
          id: this.$route.params.id,
          questions: questions,
          timer: timer
        }
      }).then(() => {
        this.sCurrentUrl = document.location.pathname
      })
    }
  }
}
</script>
