<template>
  <v-card color="success">
    <v-tabs
      dark
      background-color="error"
      show-arrows
    >
      <v-tabs-slider color="teal lighten-3"></v-tabs-slider>
      <v-tab @click="fnGetRankList('addition-easy')">{{sAddition}} {{sEasy}}</v-tab>
      <v-tab @click="fnGetRankList('addition-medium')">{{sAddition}} {{sMedium}}</v-tab>
      <v-tab @click="fnGetRankList('addition-hard')">{{sAddition}} {{sHard}}</v-tab>
      <v-tab @click="fnGetRankList('subtraction-easy')">{{sSubtraction}} {{sEasy}}</v-tab>
      <v-tab @click="fnGetRankList('subtraction-medium')">{{sSubtraction}} {{sMedium}}</v-tab>
      <v-tab @click="fnGetRankList('subtraction-hard')">{{sSubtraction}} {{sHard}}</v-tab>
      <v-tab @click="fnGetRankList('multiplication-easy')">{{sMultiplication}} {{sEasy}}</v-tab>
      <v-tab @click="fnGetRankList('multiplication-medium')">{{sMultiplication}} {{sMedium}}</v-tab>
      <v-tab @click="fnGetRankList('multiplication-hard')">{{sMultiplication}} {{sHard}}</v-tab>
      <v-tab @click="fnGetRankList('division-easy')">{{sDivision}} {{sEasy}}</v-tab>
      <v-tab @click="fnGetRankList('division-medium')">{{sDivision}} {{sMedium}}</v-tab>
      <v-tab @click="fnGetRankList('division-hard')">{{sDivision}} {{sHard}}</v-tab>
    </v-tabs>
    <br/>
    <v-row class="text-center headline">
      <v-col cols="4">
        {{sNickName}}
      </v-col>
      <v-col cols="4">
        {{sRecord}}
      </v-col>
      <v-col cols="4">
        {{sDate}}
      </v-col>
    </v-row>
    <v-row class="text-center" v-for="rank in ranks" :key="rank.key">
      <v-col cols="4">
        {{rank.nickName}}
      </v-col>
      <v-col cols="4">
        {{rank.time}}
      </v-col>
      <v-col cols="4">
        {{rank.date}}
      </v-col>
    </v-row>
    <br/>
  </v-card>
</template>

<script>
import { oFirestore } from '@/datasources/firebase'

export default {
  data () {
    return {
      sNickName: this.$t('nickName'),
      sRecord: this.$t('record'),
      sDate: this.$t('date'),
      sBestRecord: this.$t('bestRecord'),
      sSecond: this.$t('second'),
      sAddition: this.$t('addition'),
      sSubtraction: this.$t('subtraction'),
      sMultiplication: this.$t('multiplication'),
      sDivision: this.$t('division'),
      sEasy: this.$t('easy'),
      sMedium: this.$t('medium'),
      sHard: this.$t('hard'),
      ranks: null
    }
  },
  created () {
    this.fnGetRankList('addition-easy')
  },
  methods: {
    fnGetRankList (exam) {
      const refRank = oFirestore
        .collection(exam)
        .orderBy('time').limit(10)

      refRank.get().then((querySnapshot) => {
        const items = []
        if (querySnapshot.size > 1) {
          querySnapshot.forEach((doc) => {
            items.push(doc.data())
          })
          this.ranks = items
        } else if (querySnapshot.size === 1) {
          querySnapshot.forEach((doc) => {
            items.push(doc.data())
          })
          this.ranks = items
        } else {
          this.ranks = items
        }
      }).catch((error) => {
        this.sNotice = this.$t('errorAlarm')
        this.snackbar = true
        console.log(error)
      })
    },
    fnShowDialog () {
      this.bBasicDialog = true
    },
    fnHideDialog () {
      this.bBasicDialog = false
    }
  }
}
</script>
