<template>
  <v-container>
    <v-card color="error" dark>
      <h1 class="text-center success--text">{{sRecord}}</h1>
      <v-list color="success" light>
        <v-list-item>
          <v-list-item-content>
            <v-row class="my-0">
              <v-col cols="5" class="title text-center">
                {{sOperator}}
              </v-col>
              <v-col cols="3" class="title text-center">
                {{sDifficulty}}
              </v-col>
              <v-col cols="4" class="title text-center">
                {{sBestRecord}}
              </v-col>
            </v-row>
            <v-row class="my-0">
              <v-col cols="5" class="text-center">
                {{sAddition}}
              </v-col>
              <v-col cols="3" class="text-center">
                {{sEasy}}
              </v-col>
              <v-col cols="4" class="text-center">
                {{records.addition.easy}} {{sSecond}}
              </v-col>
            </v-row>
            <v-row class="my-0">
              <v-col cols="5" class="text-center">
                {{sAddition}}
              </v-col>
              <v-col cols="3" class="text-center">
                {{sMedium}}
              </v-col>
              <v-col cols="4" class="text-center">
                {{records.addition.medium}} {{sSecond}}
              </v-col>
            </v-row>
            <v-row class="my-0">
              <v-col cols="5" class="text-center">
                {{sAddition}}
              </v-col>
              <v-col cols="3" class="text-center">
                {{sHard}}
              </v-col>
              <v-col cols="4" class="text-center">
                {{records.addition.hard}} {{sSecond}}
              </v-col>
            </v-row>
            <v-row class="my-0">
              <v-col cols="5" class="text-center">
                {{sSubtraction}}
              </v-col>
              <v-col cols="3" class="text-center">
                {{sEasy}}
              </v-col>
              <v-col cols="4" class="text-center">
                {{records.subtraction.easy}} {{sSecond}}
              </v-col>
            </v-row>
            <v-row class="my-0">
              <v-col cols="5" class="text-center">
                {{sSubtraction}}
              </v-col>
              <v-col cols="3" class="text-center">
                {{sMedium}}
              </v-col>
              <v-col cols="4" class="text-center">
                {{records.subtraction.medium}} {{sSecond}}
              </v-col>
            </v-row>
            <v-row class="my-0">
              <v-col cols="5" class="text-center">
                {{sSubtraction}}
              </v-col>
              <v-col cols="3" class="text-center">
                {{sHard}}
              </v-col>
              <v-col cols="4" class="text-center">
                {{records.subtraction.hard}} {{sSecond}}
              </v-col>
            </v-row>
            <v-row class="my-0">
              <v-col cols="5" class="text-center">
                {{sMultiplication}}
              </v-col>
              <v-col cols="3" class="text-center">
                {{sEasy}}
              </v-col>
              <v-col cols="4" class="text-center">
                {{records.multiplication.easy}} {{sSecond}}
              </v-col>
            </v-row>
            <v-row class="my-0">
              <v-col cols="5" class="text-center">
                {{sMultiplication}}
              </v-col>
              <v-col cols="3" class="text-center">
                {{sMedium}}
              </v-col>
              <v-col cols="4" class="text-center">
                {{records.multiplication.medium}} {{sSecond}}
              </v-col>
            </v-row>
            <v-row class="my-0">
              <v-col cols="5" class="text-center">
                {{sMultiplication}}
              </v-col>
              <v-col cols="3" class="text-center">
                {{sHard}}
              </v-col>
              <v-col cols="4" class="text-center">
                {{records.multiplication.hard}} {{sSecond}}
              </v-col>
            </v-row>
            <v-row class="my-0">
              <v-col cols="5" class="text-center">
                {{sDivision}}
              </v-col>
              <v-col cols="3" class="text-center">
                {{sEasy}}
              </v-col>
              <v-col cols="4" class="text-center">
                {{records.division.easy}} {{sSecond}}
              </v-col>
            </v-row>
            <v-row class="my-0">
              <v-col cols="5" class="text-center">
                {{sDivision}}
              </v-col>
              <v-col cols="3" class="text-center">
                {{sMedium}}
              </v-col>
              <v-col cols="4" class="text-center">
                {{records.division.medium}} {{sSecond}}
              </v-col>
            </v-row>
            <v-row class="my-0">
              <v-col cols="5" class="text-center">
                {{sDivision}}
              </v-col>
              <v-col cols="3" class="text-center">
                {{sHard}}
              </v-col>
              <v-col cols="4" class="text-center">
                {{records.division.hard}} {{sSecond}}
              </v-col>
            </v-row>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-card>
  </v-container>
</template>

<script>
export default {
  data () {
    return {
      sRecord: this.$t('record'),
      sOperator: this.$t('operator'),
      sDifficulty: this.$t('difficulty'),
      sBestRecord: this.$t('bestRecord'),
      sSecond: this.$t('second'),
      sAddition: this.$t('addition'),
      sSubtraction: this.$t('subtraction'),
      sMultiplication: this.$t('multiplication'),
      sDivision: this.$t('division'),
      sEasy: this.$t('easy'),
      sMedium: this.$t('medium'),
      sHard: this.$t('hard'),
      records: null
    }
  },
  created () {
    this.records = this.$store.getters.fnGetGameRecord
  },
  methods: {
    fnGetMarkPoint () {
      this.questions.forEach((question) => {
        if (question.mark === true) {
          this.markPoint++
        }
      })
      if (this.markPoint === 10) {
        this.$store.commit('fnSetHistory', this.timer, this.$route.params.id)
      }
    },
    fnShowDialog () {
      this.bBasicDialog = true
    },
    fnHideDialog () {
      this.bBasicDialog = false
    }
  }
}
</script>
