<template>
<v-app :style="{background: $vuetify.theme.themes[theme].background}">
  <v-container>
      <v-app-bar app color="secondary" dark flat>
          <v-app-bar-nav-icon class="success--text" @click.stop="bDrawer = !bDrawer">
          </v-app-bar-nav-icon>
          <v-app-bar-title class="success--text">{{sTitle}}</v-app-bar-title>
      </v-app-bar>
      <v-navigation-drawer color="secondary" absolute temporary v-model="bDrawer">
          <!-- 안쪽에 툴바로 플랫 스타일로 메뉴 제목을 작성 -->
          <v-toolbar color="secondary" dark flat height="70px">
              <v-list>
                  <v-list-item>
                    <v-list-item-title class="background--text" @click="fnMoveToHome">
                      <h2>{{sMenu}}</h2>
                    </v-list-item-title>
                  </v-list-item>
              </v-list>
          </v-toolbar>
          <v-divider></v-divider>
          <v-card
            flat
            color="background"
            class="mx-auto"
            max-width="500"
          >
            <v-list>
              <v-list-group
                v-for="item in this.aMenuItems"
                :key="item.title"
                v-model="item.active"
                :prepend-icon="item.icon"
                no-action
              >
                <template v-slot:activator>
                  <v-list-item-content>
                    <v-list-item-title v-text="item.title">
                    </v-list-item-title>
                  </v-list-item-content>
                </template>

                <v-list-item class="pl-10"
                  v-for="child in item.exam"
                  :key="child.id"
                  @click="fnMoveToPage(child)"
                >
                  <v-list-item-action>
                    <v-icon>{{child.icon}}</v-icon>
                  </v-list-item-action>
                  <v-list-item-content>
                    <v-list-item-title v-text="child.code"></v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
              </v-list-group>
            </v-list>
          </v-card>
      </v-navigation-drawer>
      <v-main>
        <v-slide-x-transition mode="out-in">
          <router-view></router-view>
        </v-slide-x-transition>
      </v-main>
  </v-container>
</v-app>
</template>

<script>
import oExamData from '@/data/exam-data'
import { showAd } from './adMob'

export default {
  name: 'App',
  data () {
    return {
      sTitle: this.$t('title'),
      sMenu: this.$t('menu'),
      bDrawer: false,
      aMenuItems: null,
      sCurrentUrl: document.location.pathname
    }
  },
  created () {
    const processing = oExamData.aExams
    for (let i = 0; i < processing.length; i++) {
      processing[i].title = this.$t(processing[i].title)
      for (let j = 0; j < processing[i].exam.length; j++) {
        processing[i].exam[j].code = this.$t(processing[i].exam[j].code)
      }
    }
    this.aMenuItems = processing
    this.fnMoveToHome()
  },
  mounted () {
    setTimeout(() => {
      showAd()
    }, 300)
  },
  computed: {
    theme () {
      return (this.$vuetify.theme.dark) ? 'dark' : 'light'
    }
  },
  methods: {
    fnMoveToHome () {
      this.$router.push({
        name: 'home'
      }).then(() => {
        this.sCurrentUrl = document.location.pathname
      }).catch((err) => {
        console.error(err)
      })
    },
    fnMoveToPage (exam) {
      if (exam.id.includes('rank')) {
        this.$router.push({
          name: 'rank'
        }).then(() => {
          this.sCurrentUrl = document.location.pathname
        }).catch((err) => {
          console.error(err)
        })
      } else if (exam.id.includes('record')) {
        this.$router.push({
          name: 'record'
        }).then(() => {
          this.sCurrentUrl = document.location.pathname
        }).catch((err) => {
          console.error(err)
        })
      } else {
        this.$router.push({
          name: 'questions',
          params: {
            id: exam.id
          }
        }).then(() => {
          this.sCurrentUrl = document.location.pathname
        }).catch((err) => {
          console.error(err)
        })
      }
    }
  }
}
</script>
